@charset "UTF-8";
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}
ol, ul {
  list-style: none;
}
a, a:link {
  text-decoration: none;
  color: #000;
}
img {
  vertical-align: top;
  border: 0;
}
body {
  user-select: none;
  overflow: hidden;
  font: normal 1rem 'NEXON Lv1 Gothic OTF Light', sans-serif;
}
.hide {
  display: none;
}

header {
  width: 100%;
  height: 65vh;
  background: url('../images/bg/main-bg.jpg')50% 83% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.header-inner {
  width: 80%;
  margin: 0 auto;
}
h1+p {
  text-align: center;
  font: bold 5rem "NotoSansKR", sans-serif;
  margin-top: 10vh;
}
section {
  width: 100%;
  height: 35vh;
  background: #0a020d;
  position: relative;
}
section::after {
  content: '';
  display: block;
  width: 100%;
  height: 50px;
  position: absolute;
  top: -50px;
  left: 0;
  background: url('../images/bg/bar.png')50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.wrapper {
  width: 80%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.wrapper>ul {
  display: flex;
  width: 100%;
  flex: 1 1 0;
  position: absolute;
  top: -30vh;
  left: 0;
}
.work {
  width: 33.3%;
}
.work>label {
  display: block;
  width: 80%;
  margin: 0 auto;
  border: 1px solid #ffffff50;
  position: relative;
  cursor: pointer;
}
.work-thumb {
  height: 54vh;
  background: #ccc;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}
.thumb1 {
  background: url('../images/thumb/work1.png')no-repeat center top;
}
.thumb2 {
  background: url('../images/thumb/work2.png')no-repeat center top;
}
.thumb3 {
  background: url('../images/thumb/work3.png')no-repeat center top;
}
.thumb-txt {
  display: table;
  padding: 3vh 0;
  background: rgba(252, 151, 131, .9);
  position: absolute;
  width: 110%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  bottom: 40px;
  left: -5%;
  -webkit-transform: skewY(-7deg);
  -moz-transform: skewY(-7deg);
  -ms-transform: skewY(-7deg);
  -o-transform: skewY(-7deg);
  transform: skewY(-7deg);
  -webkit-transition: transform .5s;
  -moz-transition: transform .5s;
  -o-transition: transform .5s;
  transition: transform .5s;
}
.work:hover .thumb-txt {
  top: 50%;
  padding: 5vh 0;
  background: rgba(252, 151, 131, .8);
  -webkit-transform: skewY(-7deg) translate(0, -50%);
  -moz-transform: skewY(-7deg) translate(0, -50%);
  -ms-transform: skewY(-7deg) translate(0, -50%);
  -o-transform: skewY(-7deg) translate(0, -50%);
  transform: skewY(-7deg) translate(0, -50%);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
@supports (not (backdrop-filter: none)) and (not (-webkit-backdrop-filter: none)) {
	.work:hover .thumb-txt {
		background: rgba(252, 151, 131, .95);
	}
}
.thumb-tit,
.thumb-subtit,
.thumb-dscr {
  -webkit-transform: skewY(7deg);
  -moz-transform: skewY(7deg);
  -ms-transform: skewY(7deg);
  -o-transform: skewY(7deg);
  transform: skewY(7deg);
}
.thumb-tit {
  font: bold 2rem "GmarketSansBold", sans-serif;
  text-align: center;
  position: relative;
}
.thumb-tit::after {
  display: block;
  content: '';
  width: 8px;
  height: 8px;
  position: absolute;
  bottom: -17px;
  left: 50%;
  -webkit-transform: rotate(45deg) translate(-50%, 0);
  -moz-transform: rotate(45deg) translate(-50%, 0);
  -ms-transform: rotate(45deg) translate(-50%, 0);
  -o-transform: rotate(45deg) translate(-50%, 0);
  transform: rotate(45deg) translate(-50%, 0);
  background: #000;
  opacity: 0;
}
.work:hover:hover .thumb-tit {
  margin-bottom: 30px;
}
.work:hover .thumb-tit::after {
  opacity: 1;
  -webkit-transition: all .5s .3s linear;
  -moz-transition: all .5s .3s linear;
  -o-transition: all .5s .3s linear;
  transition: all .5s .3s linear;
}
.thumb-subtit {
  font: normal 1rem "NEXON Lv1 Gothic OTF Light", sans-serif;
  text-align: center;
  margin-bottom: 5px;
}
.thumb-dscr {
  width: 80%;
  height: 0;
  margin: 0 auto;
  opacity: 0;
  font: normal .9rem/1.2rem "NEXON Lv1 Gothic OTF Light", sans-serif;
}
.work:hover .thumb-dscr {
  height: auto;
  opacity: 1;
  -webkit-transition: all .5s .3s linear;
  -moz-transition: all .5s .3s linear;
  -o-transition: all .5s .3s linear;
  transition: all .5s .3s linear;
}
.work-page,
.profile-page {
  width: 96vw;
  height: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  top: 2vh;
  left: 2vw;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: rgba(0, 0, 0, .5);
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
  overflow: hidden;
  cursor: auto;
}
@supports (not (backdrop-filter: none)) and (not (-webkit-backdrop-filter: none)) {
  .work-page,
  .profile-page {
    background: rgba(0, 0, 0, .9);
  }
}
.work-page>div {
  width: 100%;
  height: 100%;
}
input[id*="show-work"]:checked+label+div,
input[id*="show-profile"]:checked+label+div {
  height: 96vh;
  padding: 50px;
  opacity: 1;
  visibility: visible;
  z-index: 10;
}
.work-page>label,
.profile-page>label {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.work-page>label span,
.profile-page>label span {
  display: block;
  width: 40px;
  height: 1px;
  background: #ffe5e0;
}
.work-page>label span:first-of-type,
.profile-page>label span:first-of-type {
  -webkit-transform: translate(0, 20px) rotate(45deg);
  -moz-transform: translate(0, 20px) rotate(45deg);
  -ms-transform: translate(0, 20px) rotate(45deg);
  -o-transform: translate(0, 20px) rotate(45deg);
  transform: translate(0, 20px) rotate(45deg);
}
.work-page>label span:last-of-type,
.profile-page>label span:last-of-type {
  -webkit-transform: translate(0, 20px) rotate(-45deg);
  -moz-transform: translate(0, 20px) rotate(-45deg);
  -ms-transform: translate(0, 20px) rotate(-45deg);
  -o-transform: translate(0, 20px) rotate(-45deg);
  transform: translate(0, 20px) rotate(-45deg);
}
.work-page .work-tab {
  overflow: hidden;
  margin-bottom: 20px;
}
.work-tab li {
  float: left;
}
.work-tab li a {
  display: block;
  margin-right: 10px;
  padding: 11px 20px 10px;
  border: 1px solid #ffe5e080;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #ffe5e080;
  transition: all .3s;
}
.work-tab li.active a {
  background: #ffe5e080;
  color: #000;
  border: 1px solid transparent;
}
.work-content {
  width: 100%;
  height: -webkit-calc(100% - 60px);
  height: -moz-calc(100% - 60px);
  height: calc(100% - 60px);
  overflow-y: auto;
  scrollbar-color: #fe3474 rgba(255, 255, 255, .1);
}
.work-content::-webkit-scrollbar {
  width: 5px;
}
.work-content::-webkit-scrollbar-track {
  -webkit-border-radius: 5px;
  background: rgba(255, 255, 255, .1);
}
.work-content::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  background: #fe3474;
}
.work-content>div {
  width: 100%;
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  color: #eee;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.work-content>div.active {
  max-height: unset;
  visibility: visible;
  opacity: 1;
}
.work-content>div h2 {
  display: none;
}
.work-content>div .work-subtit {
  text-align: center;
  margin-bottom: 10px;
}
.work-content>div .work-tit {
  text-align: center;
  margin-bottom: 50px;
  font: normal 2rem "GmarketSansBold", sans-serif;
}
.work-video a {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.pj-video {
  display: block;
  width: 50vw;
  height: auto;
  margin: 0 auto 50px;
  outline: none;
}
.work-dscr {
  text-align: center;
  line-height: 1.5rem;
}
.work-dscr>p {
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
}
.work-dscr ul {
  margin: 50px auto;
}
.work-dscr ul>li {
  display: inline-block;
  margin: 0 5px;
  position: relative;
}
.work-dscr ul>li>span {
  width: max-content;
  font-size: .8rem;
  color: #000;
  position: absolute;
  left: 50%;
  top: -45px;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  background: #fff;
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  opacity: 0;
  -webkit-transition: opacity .35s;
  -moz-transition: opacity .35s;
  -o-transition: opacity .35s;
  transition: opacity .35s;
}
.work-dscr ul>li>span::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}
.work-dscr img {
  width: 50px;
  height: 50px;
}
.work-dscr img:hover+span {
  opacity: 1;
}
.work-link p {
  width: 80%;
  margin: 0 auto 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  text-align: center;
}
.link-wrap {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.link {
  width: 12vw;
  height: 12vw;
  margin: 0 5px;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  position: relative;
}
.link a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #fff;
  font: normal 1rem "GmarketSansBold", sans-serif;
  position: absolute;
}
.link a::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.link a:hover::after {
  background: rgba(0, 0, 0, .8);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}
.link a span {
  opacity: 0;
  padding-bottom: 30px;
}
.link a:hover span {
  opacity: 1;
  padding-bottom: 0;
  z-index: 1;
  -webkit-transition: all .5s .3s;
  -moz-transition: all .5s .3s;
  -o-transition: all .5s .3s;
  transition: all .5s .3s;
}
#maker>label {
  width: 60px;
  height: 60px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  background: url('../images/namhyunsu.jpg')no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  z-index: 4;
}
#maker>label::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: rgba(252, 43, 106, .6);
  mix-blend-mode: screen;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  position: absolute;
}
#maker>div>label {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .8);
  visibility: hidden;
  opacity: 0;
  z-index: 0;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
}
#maker>label:hover::after,
#maker-info:checked+label::after {
  opacity: 0;
}
#maker-info:checked+label {
  -webkit-animation: pop 1s forwards cubic-bezier(1,-0.32,.37,1.02);
  -moz-animation: pop 1s forwards cubic-bezier(1,-0.32,.37,1.02);
  -o-animation: pop 1s forwards cubic-bezier(1,-0.32,.37,1.02);
  animation: pop 1s forwards cubic-bezier(1,-0.32,.37,1.02);
}
#maker-info:checked+label+div>label {
  visibility: visible;
  opacity: 1;
  z-index: 2;
}
@-webkit-keyframes pop {
  0% {-webkit-transform: scale(1);}
  50% {-webkit-transform: scale(0.8);}
  100% {-webkit-transform: scale(1.1);}
}
@-moz-keyframes pop {
  0% {-moz-transform: scale(1);}
  50% {-moz-transform: scale(0.8);}
  100% {-moz-transform: scale(1.1);}
}
@-o-keyframes pop {
  0% {-o-transform: scale(1);}
  50% {-o-transform: scale(0.8);}
  100% {-o-transform: scale(1.1);}
}
@keyframes pop {
  0% {transform: scale(1);}
  50% {transform: scale(0.8);}
  100% {transform: scale(1.1);}
}
.maker-more {
  width: 40px;
  height: 40px;
  position: fixed;
  right: 40px;
  bottom: 40px;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 1s cubic-bezier(1,-0.32,.37,1.02) 0s;
  -moz-transition: all 1s cubic-bezier(1,-0.32,.37,1.02) 0s;
  -o-transition: all 1s cubic-bezier(1,-0.32,.37,1.02) 0s;
  transition: all 1s cubic-bezier(1,-0.32,.37,1.02) 0s;
  z-index: 3;
}
.maker-more>a {
  display: block;
  width: 100%;
  height: 100%;
}
.profile {
  background: url('../images/icon/profile.png')no-repeat center center;
}
.blog {
  background: url('../images/icon/tistory.png')no-repeat center center;
}
.insta {
  background: url('../images/icon/insta.png')no-repeat center center;
}
#maker-info:checked+label+div .profile {
  bottom: 120px;
}
#maker-info:checked+label+div .blog {
  right: 98px;
  bottom: 90px;
}
#maker-info:checked+label+div .insta {
  right: 120px;
  bottom: 30px;
}
.maker-more>span {
  position: absolute;
  color: #fff;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  opacity: 0;
  visibility: hidden;
  font: normal .8rem 'NEXON Lv1 Gothic OTF Light', sans-serif;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#maker-info:checked+label+div .maker-more:hover>span {
  opacity: 1;
  visibility: visible;
  cursor: default;
}
.profile span,
.blog span {
  top: -20px;
}
.insta span {
  left: -66px;
  top: 13px;
}
.profile>label {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.profile-page {
  display: flex;
  align-items: center;
}
.profile-photo {
  width: 20vw;
  height: 20vw;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: url('../images/namhyunsu.jpg')no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: -5vw;
  left: 10vw;
}
.profile-photo::before {
  content: '';
  display: block;
  width: 104%;
  height: 104%;
  position: absolute;
  top: -2%;
  left: -2%;
  background: -webkit-linear-gradient(45deg, #ea345e, #fbb279);
  background: -moz-linear-gradient(45deg, #ea345e, #fbb279);
  background: -o-linear-gradient(45deg, #ea345e, #fbb279);
  background: linear-gradient(45deg, #ea345e, #fbb279);
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  border-radius: inherit;
  z-index: -1;
}
.profile-inner h2 {
  font: normal 5vw "GmarketSansBold", sans-serif;
  color: #fff;
  text-indent: 35vw;
  margin-bottom: 20px;
}
.profile-inner ul {
  background: rgba(255, 255, 255, .05);
  width: 96vw;
  margin-left: -50px;
  padding: 50px 50px 50px 40vw;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.profile-inner ul li {
  margin-bottom: 16px;
}
.profile-inner ul li p {
  color: #fff;
  font: normal 1rem/1.5rem "NEXON Lv1 Gothic OTF Light", sans-serif;
  position: relative;
}
.profile-inner ul li p:first-of-type::before {
  content: '';
  display: block;
  width: 10px;
  height: 4px;
  background: #ea345e;
  position: absolute;
  top: 9px;
  left: -20px;
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  input[id*="show-work"]:checked+label+div,
  input[id*="show-profile"]:checked+label+div {
    padding: 20px;
  }
  .work-page>label,
  .profile-page>label {
    width: 4vh;
    height: 4vh;
    top: 20px;
    right: 20px;
  }
  .work-page>label span,
  .profile-page>label span {
    width: 4vh;
  }
  .work-page>label span:first-of-type,
  .profile-page>label span:first-of-type {
    -webkit-transform: translate(0, 3vw) rotate(45deg);
    -moz-transform: translate(0, 3vw) rotate(45deg);
    -ms-transform: translate(0, 3vw) rotate(45deg);
    -o-transform: translate(0, 3vw) rotate(45deg);
    transform: translate(0, 3vw) rotate(45deg);
  }
  .work-page>label span:last-of-type,
  .profile-page>label span:last-of-type {
    -webkit-transform: translate(0, 3vw) rotate(-45deg);
    -moz-transform: translate(0, 3vw) rotate(-45deg);
    -ms-transform: translate(0, 3vw) rotate(-45deg);
    -o-transform: translate(0, 3vw) rotate(-45deg);
    transform: translate(0, 3vw) rotate(-45deg);
  }
  .work-page .work-tab {
    margin-bottom: 5vh;
  }
  .work-tab li a {
    margin-right: 1vw;
    padding: 1vh 3vw;
    font-size: 2vh;
    -webkit-border-radius: 10vh;
    -moz-border-radius: 10vh;
    border-radius: 10vh;
  }
  .work-content {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .work-content>div .work-tit {
    margin-bottom: 5vh;
    font-size: 4vh;
  }
  .work-content>div .work-subtit {
    font-size: 2vh;
  }
  .pj-video {
    width: 100%;
    margin-bottom: 5vh;
  }
  .work-dscr>p {
    width: 100%;
    font: normal 2vh/3vh 'NEXON Lv1 Gothic OTF Light', sans-serif;
    text-align: left;
  }
  .work-dscr ul {
    white-space: nowrap;
    margin: 3vh auto 5vh;
  }
  .work-dscr ul>li {
    margin: 0;
  }
  .work-dscr img {
    width: 8vw;
    height: 8vw;
  }
  .work-link p {
    font-size: 2vh;
    margin: 0 auto 2vh;
    padding-bottom: 2vh;
  }
  .link-wrap {
    flex-wrap: wrap;
  }
  .link {
    width: 40%;
    height: unset;
    margin: 0;
  }
  .link::after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
  .work-page2 .link:nth-of-type(odd) {
    margin-right: 10%;
  }
  .work-page2 .link:nth-of-type(-n+4) {
    margin-bottom: 5vh;
  }
  .link a {
    background: rgba(0, 0, 0, .7);
  }
  .link a span {
    padding-bottom: 0;
    font-size: 5vw;
    opacity: .8;
  }
  .profile-page {
    align-items: flex-end;
  }
  .profile-photo-mobile {
    width: 100%;
    height: 40vh;
    background: url('../images/namhyunsu.jpg')no-repeat center center;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(.5);
  }
  .profile-inner {
    height: 60vh;
  }
  .profile-inner .profile-photo {
    display: none;
  }
  .profile-inner h2 {
    font: normal 9vw "GmarketSansBold", sans-serif;
    text-indent: 0;
  }
  .profile-inner ul {
    padding: 50px 15vw;
  }
}
@media screen and (max-width: 767px) and (orientation: landscape) {
  input[id*="show-work"]:checked+label+div,
  input[id*="show-profile"]:checked+label+div {
    padding: 20px;
    -webkit-backdrop-filter: blur(100px) !important;
    backdrop-filter: blur(100px) !important;
  }
  .work-content>div .work-tit {
    margin-bottom: 30px;
  }
  .pj-video {
    width: 90%;
    margin: 0 auto 30px;
  }
  .work-dscr>p {
    width: 90%;
    font: normal 2vw/3vw 'NEXON Lv1 Gothic OTF Light', sans-serif;
  }
  .link-wrap {
    flex-wrap: wrap;
  }
  .link {
    width: 40%;
    height: unset;
    margin: 0;
  }
  .link::after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
  .work-page2 .link:nth-of-type(odd) {
    margin-right: 5%;
  }
  .work-page2 .link:nth-of-type(-n+4) {
    margin-bottom: 8vh;
  }
  .link a {
    background: rgba(0, 0, 0, .7);
  }
  .link a span {
    padding-bottom: 0;
    font-size: 3vw;
    opacity: .8;
  }
}
