@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600,700,900&display=swap');
@import url("S-Core-Dream-light/s-core-dream.css");

/*desktop*/
@media screen and (min-width: 1280px) {
  #main #main-title {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #main #main-title text {
    font-family: "Titillium Web";
  }
  #main .clipping {
    width: 96vw;
    height: 94vh;
    margin: 3vh auto;
    overflow: hidden;
  }
  #main #bg-video {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
  }
  #main .title {
    font-size: 40vw;
    font-weight: 700;
  }
  #main .title-after {
    font-size: 4vw;
  }
  #main .subtitle {
    font: lighter 4rem "Titillium Web";
    margin: 15px 0;
    padding: 0;
    fill: #000;
  }
  #main .subtitle.name {
    font-weight: 700;
  }
  #masked {
    mask: url('#mask-layer');
  }

  /*works*/
  .works #main-title {
    width: 100vw;
    height: 100vh;
    background: #000;
  }
  .works .bg-text {
    width: 120vw;
    -webkit-background-size: contain !important;
    -moz-background-size: contain !important;
    -o-background-size: contain !important;
    background-size: contain !important;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  #works-web .bg-text1 {
    height: 60vh;
    background: url('../images/title/bg-web1.svg')no-repeat left top;
    opacity: .1;
    left: 50%;
    top: 50%;
  }
  #works-web .bg-text2 {
    height: 60vh;
    background: url('../images/title/bg-web2.svg')no-repeat left top;
    opacity: .1;
    left: 52%;
    top: 52%;
  }
  #works-design .bg-text1 {
    height: 60vh;
    background: url('../images/title/bg-design1.svg')no-repeat left top;
    opacity: .1;
    left: 50%;
    top: 50%;
  }
  #works-design .bg-text2 {
    height: 60vh;
    background: url('../images/title/bg-design2.svg')no-repeat left top;
    opacity: .1;
    left: 52%;
    top: 52%;
  }
  .works .title-content {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 35%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .works .title-content>p {
    font: normal 2vw "Titillium Web";
    text-align: center;
    margin-bottom: 30px;
  }
  #works-web .title-content>p {
    color: #90f;
  }
  #works-design .title-content>p {
    color: #09f;
  }
  .works .title-icon {
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  .works .title-icon>div {
    width: 7vw;
    height: 7vw;
    margin: 2vw;
    display: inline-block;
  }
  .works .title-icon>div>a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
  }
  .works .title-icon img {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .works .title-icon img.icon-hover {
    opacity: 0;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
  }
  .works .title-icon>div>a:hover .icon-hover {
    opacity: 1;
  }
  .works .title-text {
    position: relative;
  }
  .works .title-text p {
    color: #fff;
    font: normal 1.25vw "s-CoreDream-3Light";
    position: absolute;
    bottom: -15vw;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    -webkit-transition: opacity .35s;
    -moz-transition: opacity .35s;
    -o-transition: opacity .35s;
    transition: opacity .35s;
    opacity: 0;
  }
  #works-web .project-title {
    width: 100vw;
    height: 200vh;
  }
  #works-web .title {
    width: 100vw;
    height: 100vh;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    color: #fff;
  }
  #works-web .title1 {
    background: url('../images/works/pj1-bg.jpg')no-repeat center center;
  }
  #works-web .title2 {
    background: url('../images/works/pj2-bg.jpg')no-repeat center center;
  }
  #works-web .pj-title-bg,
  #works-web .pj-title-text {
    opacity: 0;
  }
  #works-web .pj-title-bg1 {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .9);
    transition: background-color 1s ease;
    position: relative;
  }
  #works-web .pj-title-bg>div {
    width: 39vw;
    height: 25vw;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  #works-web .pj-title-bg .num {
    font: bold 25vw "Chakra Petch";
    position: absolute;
  }
  #works-web .pj-title-bg .num2 {
    left: 13vw;
    top: -8vw;
  }
  #works-web .pj-title-bg .num2>div>p {
    font: normal 2vw "Titillium web";
    white-space: nowrap;
    position: absolute;
    left: 4.5vw;
    bottom: 0vw;
    border-left: 3px solid #fff;
    padding-left: 20px;
  }
  #works-web .pj-title-bg2 {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    position: relative;
  }
  #works-web .pj-title-bg2>div:first-of-type {
    position: absolute;
    top: 150px;
    left: 5%;
    padding-left: 20px;
    border-left: 3px solid #fff;
  }
  #works-web .pj-title-bg2>div:first-of-type>p:first-of-type {
    font-size: 2.5vw;
    line-height: 2.5vw;
    margin: 10px 0;
  }
  #works-web .pj-title-bg2>div:first-of-type>p:last-of-type {
    font-size: 1.5vw;
    margin: 10px 0;
  }
  #works-web .pj-title-bg2>div:last-of-type {
    position: absolute;
    right: 5%;
    bottom: 100px;
    text-align: right;
    font: lighter 1.2vw "Titillium Web";
  }
}

/*tablet*/
@media screen and (min-width: 768px) and (max-width: 1279px) {

}

/*mobile*/
@media sereecn and (max-width: 767px) {

}
